$color-primary: #070649;
$color-secondary: #B8B7D5;
$color-tertiary: #9A6197;
$color-tertiary-hover: #894586;
$dark-font: #030303;
$light-font: #FFFFFF;
$tinted-overlay: rgba(7, 6, 73, 0.75);
$font-family-primary: 'Roboto', sans-serif;
$font-family-secondary: 'Archivo Black', sans-serif;
$font-family-tertiary: 'Amiko', sans-serif;
$gray-background-lightest: #FAFAFA;
$gray-background-light: #EEEEEE;
$gray-background-dark: #E0E0E0;
$color-success: #137F15;
$color-failure: #C91208;

@mixin button($main-color, $hover-font) {
  border: 3px solid $main-color;
  text-decoration: none;
  background-color: transparent;
  color: $main-color;
  font-size: 1.2em;
  cursor: pointer;
  border-radius: 2px;
  padding: 8px;
  &:hover {
    background-color: $main-color;
    color: $hover-font;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: $light-font;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-primary;
  margin: 0;
}

p {
  font-family: $font-family-tertiary;
}

button, input, textarea {
  outline: none;
}

@import './BandBox';
@import './BandCreateForm';
@import './BandEventBox';
@import './BandPage';
@import './BandPageBrowseMusicians';
@import './BaseLayout';
@import './BrowseBox';
@import './CalendarPage';
@import './CenterComponent';
@import './ConnectResults';
@import './Contact';
@import './CTAButton';
@import './EventCreator';
@import './EventList';
@import './EventPage';
@import './Features';
@import './Footer';
@import './Form';
@import './Home';
@import './LeftMainPageSideBar';
@import './Main';
@import './MainFeed';
@import './MessageDisplay';
@import './MessageHistorySideBar';
@import './MessagePage';
@import './MessageSearchBar';
@import './Modal';
@import './MusicianCarousel';
@import './Navbar';
@import './NewsFeed';
@import './Profile';
@import './ProfileContent';
@import './ProfileInfo';
@import './ProfileInfoMain';
@import './ProfileInfoNavBar';
@import './ScrollBox';
@import './UserAuthForm';
@import './UserProfile';
