$color-primary: #070649;
$color-secondary: #B8B7D5;
$color-tertiary: #9A6197;
$color-tertiary-hover: #894586;
$dark-font: #000000;
$light-font: #FFFFFF;
$tinted-overlay: rgba(7, 6, 73, 0.75);
$font-family-primary: 'Roboto', sans-serif;
$font-family-secondary: 'Archivo Black', sans-serif;
$font-family-tertiary: 'Amiko', sans-serif;

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: $light-font;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-primary;
}

p {
  font-family: $font-family-tertiary;
}

@import './CTAButton';
@import './Features';
@import './Home';
@import './Navbar';
@import './UserAuthForm';
