.BandBox {
  text-align: center;
  margin-bottom: 60px;
  h2 {
    color: $color-primary;
  }
  h3 {
    margin: 5px 10px 5px 0;
  }
  h3 > a {
    @include link;
    font-size: 16px;
    display: inline-block;
    background-color: $gray-background-light;
    padding: 6px 8px;
    border-radius: 3px;
    transition: 300ms;
  }
  .band-results {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
