.BandCreateForm {
  form {
    width: 80%;
    max-width: 600px;
    margin: 40px auto;
    border: 1px solid $color-primary;
    padding: 20px;
    font-size: 20px;
    box-shadow: 2px 2px 10px gray;
    .form-group {
      margin: 10px;
      label {
        display: block;
        margin-bottom: 5px;
      }
      ul {
        padding: 0;
        h3 {
          font-size: 14px;
        }
      }
    }
    .search-results-display {
      display:inline-grid;
      max-height: 60px;
      overflow: scroll;
      .single-search-result {
        h4 {
          display: inline-block;
          font-size: 16px;
          span {
            color: gray;
            font-size: 12px;
          }
        }
        cursor: pointer;
        padding: 0 3px;
        &:hover {
          background-color: #EEE;
        }
      }
      .no-results {
        font-size: 16px;
        color: gray;
        padding: 3px;
      }
      border: 1px solid $color-primary;
    }
    .hidden {
      display: none;
    }
    .charCount {
      font-size: 12px;
      margin: 0;
    }
    .lowCount {
      color: red;
    }
    background-color: $color-secondary;
    padding: 20px;
    border-radius: 10px;
    box-sizing: border-box;
    input, select, textarea {
      width: 100%;
      margin-bottom: 10px;
      font-size: 1.0em;
      padding: 10px;
      border-radius: 5px;
      border: none;
      box-sizing: border-box;
      outline: none;
    }
    select {
      height: 42px;
      overflow: hidden;
      background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
      background-size: contain;
      background-color: $light-font;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;       /* remove default arrow */
    }
    textarea {
      resize: none;
    }
    button {
      border: 3px solid $color-primary;
      background-color: transparent;
      color: $color-primary;
      font-size: 1.3em;
      cursor: pointer;
      border-radius: 2px;
      padding: 10px;
      &:hover {
        background-color: $color-primary;
        color: $light-font;
      }
    }
    .no-errors {
      color: $color-failure;
    }
    .error-message {
      color: $color-failure;
      border: 2px solid $color-failure;
      border-radius: 5px;
      background-color: pink;
      padding: 10px;
      font-weight: 600;
      transition: 400ms;
    }
    .form-footer {
      display: flex;
      flex-direction: column-reverse;
      button {
        align-self: center;
      }
      p {
        text-align: center;
        span {
          display: block;
        }
        .span-link {
          color: $color-primary;
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
  }
}
