.BandEventBox {
  margin-bottom: 30px;
  text-align: center;
  .gig {
    text-align: left;
    a {
      color: $color-tertiary;
      text-decoration: none;
      &:hover {
        color: $color-tertiary-hover;
      }
    }
  }
}
