.BandBox {
  text-align: center;
  margin-bottom: 60px;
  .create-band-link {
    a {
      @include link;
      color: $color-tertiary;
    }
  }
  h2 {
    color: $color-primary;
  }
  h3 {
    margin: 5px 10px 5px 0;
  }
  h3 > a {
    @include link;
    font-weight: 400;
    color: $color-tertiary;
    font-size: 16px;
    display: inline-block;
    background-color: $gray-background-light;
    box-shadow: 1px 1px 5px gray;
    padding: 6px 8px;
    border-radius: 3px;
    transition: 300ms;
    &:hover {
      background-color: $gray-background-dark;
    }
  }
  .band-results {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
