.BrowseBox {
  text-align: center;
  .browse-box-flex {
    display: flex;
    align-items: center;
  }
  .chevron {
    font-size: 40px;
    cursor: pointer;
    color: rgba(154, 97, 151, 0.2);
    transition: 300ms;
    margin-top: 40px;
    &:hover {
      color: rgba(154, 97, 151, 0.7);
    }
  }
  .hidden {
    opacity: 0;
  }
  h2 {
    color: $color-primary;
  }
  .browse-box-container {
    width: 600px;
    height: 350px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    .show-item {
      position: absolute;
      padding: 10px;
      width: 100%;
      box-sizing: border-box;
      transition: 500ms;
      iframe {
        margin-top: 20px;
        border-radius: 3px;
        box-shadow: 2px 2px 15px gray;
        height: 250px;
      }
      img {
        margin-top: 20px;
        border-radius: 3px;
        box-shadow: 2px 2px 15px gray;
        height: 250px;
      }
    }
    h3 a {
      color: $color-tertiary;
      text-decoration: none;
      transition: 300ms;
      &:hover {
        color: $color-tertiary-hover;
      }
    }
    strong {
      color: $color-primary;
    }
  }
}
