.CenterComponent {
  background-color: $gray-background-lightest;
  border-left: 1px solid $gray-background-light;
  border-right: 1px solid $gray-background-light;
  min-height: calc(100vh - 80px);
  margin-left: 25%;
  width: 50%;
  box-sizing: border-box;
  padding: 20px 40px;
}
