.ConnectResults {
  text-align: left;
  position: fixed;
  height: 200px;
  overflow: scroll;
  border-radius: 2px;
  .single-search-result {
    background-color: $gray-background-dark;
    font-size: 10px;
    // padding: 5px;
    &:hover {
      a {
        // color: $light-font;
      }
      // background-color: $color-tertiary;
    }
    a {
      margin: 0;
      text-decoration: none;
      color: $color-primary;
    }
  }
}
