.EventList {
  text-align: center;
  width: 70%;
  margin: 30px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .event {
    display: flex;
    justify-content: space-between;
    flex-basis: 280px;
    box-sizing: border-box;
    margin: 10px;
    box-shadow: 2px 2px 12px gray;
    min-height: 150px;
    cursor: pointer;
    transition: 300ms;
    text-decoration: none;
    color: inherit;
    &:hover {
      transform: scale(1.05);
    }
    .dateInfo {
      width: 70px;
      padding: 10px;
      background-color: $color-primary;
      color: $light-font;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .date {
        font-size: 40px;
        border-bottom: 1px solid $light-font;
        padding-bottom: 10px;
      }
      .month {
        font-size: 14px;
        letter-spacing: 1px;
        text-transform: uppercase;
      }
    }
    .info {
      padding: 10px;
      width: 150px;
      .title {
        text-align: right;
        font-weight: 700;
        font-size: 18px;
      }
      .details {
        font-size: 14px;
        text-align: right;
        line-height: 15px;
      }
      .type {
        text-align: right;
        font-weight: 700;
        color: $color-tertiary-hover;
      }
      .buttons {
        margin-top: 20px;
        text-align: right;
        h3 {
          font-size: 14px;
          color: $dark-font;
        }
        i {
          margin: 4px;
          font-size: 12px;
          height: 12px;
          width: 12px;
          cursor: pointer;
          border-radius: 50%;
          padding: 4px;
          transition: 250ms;
          &.yes {
            border: 2px solid green;
            color: green;
            &:hover, &.selected {
              background-color: green;
              color: white;
            }
          }
          &.no {
            border: 2px solid red;
            color: red;
            &:hover, &.selected {
              background-color: red;
              color: white;
            }
          }
        }
      }
    }
  }
}
