.InstrumentModal {
    .instruments {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .icon {
            text-align: center;
            border: 1px solid $color-primary;
            margin: 5px;
            border-radius: 3px;
            padding: 3px;
            display: flex;
            flex-direction: column;
            cursor: pointer;
            &:hover {
                background-color: $gray-background-dark;
            }
            &.selected {
                background-color: $color-secondary;
            }
            img {
                margin: 0 auto;
                display: block;
            }
            span {
                font-size: 10px;
            }
        }
    }
}
