.MessageDisplay {
  flex-basis: 50%;
  box-sizing: border-box;
  .message-box {
    height: calc(100vh - 160px);
    width: 80%;
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  .messages {
    flex-grow: 1;
    border: 1px solid black;
    overflow: scroll;
    .message {
      margin: 10px;
      position: relative;
      .sent {
        background-color: teal;
        color: $light-font;
      }
      .message-wrapper {
        max-width: 70%;
        display: inline-block;
        border: 1px solid $color-primary;
        border-radius: 15px;
        padding: 0 10px;
      }
    }
    .sent {
      text-align: right;
    }
  }
  .message-date {
    color: $gray-background-dark;
  }
  .message-editor {
    width: 100%;
    margin: 10px auto;
    display: flex;
    textarea {
      flex-grow: 1;
      resize: none;
    }
  }
}
