.MessageHistorySideBar {
  flex-basis: 30%;
  box-sizing: border-box;
  margin-right: 100px;
  border: 1px solid gray;
  padding: 0;
  height: calc((100vh - 160px) * .8);
  overflow: scroll;
  .message-history-result {
    border: 1px solid black;
    padding: 5px 20px;
    cursor: pointer;
    transition: 250ms;
    &:hover {
      background-color: $gray-background-light;
      color: $color-primary;
    }
    h4 {
      margin-bottom: 5px;
    }
    p {
      margin: 0 0 0 15px;
    }
  }
  .unread {
    background-color: $color-tertiary;
    color: $light-font;
  }
}
