.MessageDisplay {
  flex-basis: 50%;
  box-sizing: border-box;
  .currentRecipient {
    text-align: center;
    z-index: 100;
    background-color: $color-primary;
    padding: 6px;
    color: $light-font;
  }
  .message-box {
    height: calc(100vh - 160px);
    width: 80%;
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  .messages {
    flex-basis: 80%;
    border: 1px solid black;
    overflow: scroll;
    .message {
      margin: 10px;
      position: relative;
      .sent {
        background-color: teal;
        color: $light-font;
      }
      .message-wrapper {
        max-width: 70%;
        display: inline-block;
        border: 1px solid $color-primary;
        border-radius: 15px;
        padding: 0 10px;
      }
    }
    .sent {
      text-align: right;
    }
  }
  .message-date {
    color: $gray-background-dark;
  }
  .message-editor {
    width: 100%;
    margin: 10px auto;
    display: flex;
    input {
      flex-grow: 1;
      resize: none;
      font-size: 16px;
      padding: 10px 20px;
      border: 1px solid $color-primary;
      border-radius: 20px;
      outline: none;
    }
    .send-message-button {
      border: none;
      border-radius: 5px;
      flex-basis: 100px;
      font-size: 16px;
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 1px;
      background-color: $color-tertiary;
      color: $light-font;
      cursor: pointer;
      margin-left: 10px;
      outline: none;
      &:hover {
        background-color: $color-tertiary-hover;
      }
    }
    .disabled {
      background-color: #EEEEEE;
      border: 1px solid #DDDDDD;
      color: #DDDDDD;
      &:hover {
        background-color: #EEEEEE;
        color: #DDDDDD;
        cursor: not-allowed;
      }
    }
  }
}
