.logged-in {
  background-color: $color-primary;
  position: fixed;
  height: 80px;
}
.logged-out {
  background-color: transparent;
}
.Navbar {
  .hidden {
    display: none;
  }
  width: 100%;
  align-items: center;
  z-index: 10;
  padding: 20px 150px;
  box-sizing: border-box;
  a {
    color: $light-font;
    margin: 10px;
    text-decoration: none;
    cursor: pointer;
    &:hover {
      color: $gray-background-dark;
    }
    .fa-home {
      font-size: 22px;
      line-height: 16px;
    }
  }
  display: flex;
  justify-content: space-between;
  .brand-name {
    font-size: 1.4em;
    font-family: $font-family-tertiary;
    img {
      width: 10vw;
      min-width: 120px;
      max-width: 160px;
    }
    span {
      font-family: $font-family-secondary;
      font-weight: 100;
    }
  }
  .relative-navlink {
    position: relative;
    .fa-plus {
      font-size: 12px;
      position: absolute;
      // left: 7px;
      right: -8px;
      top: -4px;
    }
  }
  .button-link {
    border: 2px solid $light-font;
    margin: 10px;
    padding: 3px 6px;
    color: $light-font;
    cursor: pointer;
    &:hover {
      background-color: $light-font;
      color: $color-primary;
    }
  }
  .fa-circle {
    color: red;
    font-size: 10px;
    position: absolute;
    top: -3px;
    right: -5px;
  }
}
