.PerformedWithPage {
  display: flex;
  width: 80%;
  margin: 0 auto;
  a {
    text-decoration: none;
  }
  & > div {
    flex-basis: 50%;
    box-sizing: border-box;
    padding: 60px;
    h1 {
      margin-bottom: 20px;
    }
  }
  .performer {
    display: flex;
    align-items: center;
    h2 {
      margin-right: 10px;
    }
    i {
      font-size: 1.5rem;
      margin-left: 5px;
      cursor: pointer;
      &.accept {
        color: $color-success;
        &:hover {
          color: $color-success-hover;
        }
      }
      &.reject {
        color: $color-failure;
        &:hover {
          color: $color-failure-hover;
        }
      }
    }
  }
}
