.Previewer {
  position: fixed;
  overflow: scroll;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  .modal {
    width: 70%;
    max-width: 600px;
    margin: 10vh auto;
    background-color: white;
    padding: 50px;
  }

  .header {
    display: flex;
    align-items: center;
    h1 {
      flex-grow: 1;
    }
    a {
      @include button($color-primary, white);
    }
  }
}
