.ProfileInfoMain {
  h4 {
    color: $color-primary;
    margin-bottom: 10px;
  }
  a {
    @include link;
  }
  .user-instruments {
    padding-left: 20px;
    span {
      display: block;
    }
  }
  .fa-thumbs-o-up, .fa-thumbs-up {
    color: $color-tertiary;
  }
  .disabled {
    color: #CCCCCC;
  }
}
