.AvatarCropper-base {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding-top: 150px;
  .AvatarCropper-canvas {
    background-color: silver;
    padding: 25px;
    border-radius: 3px;
    box-shadow: 2px 2px 10px #111111;
    width: 450px;
    box-sizing: border-box;
    margin: 0 auto;
    .row {
      background-color: white;
      width: 400px;
      box-sizing: border-box;
      &:first-of-type {
        height: 400px;
      }
      input {
        box-sizing: border-box;
        margin: 0;
      }
    }
    .modal-footer {
      button {
        background: transparent;
        border: 2px solid $color-primary;
        color: $color-primary;
        margin: 10px 10px 0;
        cursor: pointer;
        font-size: 20px;
        &:hover {
          background-color: $color-primary;
          color: $light-font;
        }
      }
    }
  }
}
.crop-circle {
  position: absolute;
  z-index: 1000;
  width: 400px;
  height: 400px;
  box-sizing: border-box;
  pointer-events: none;
  top: 175px;
  left: calc(50vw - 200px);
  border: 2px dashed #DDDDDD;
  border-radius: 50%;
}
.UserProfile {
  .fa-pencil-square-o {
    cursor: pointer;
    &:hover {
      font-weight: 700;
    }
  }
  .avatar-photo {
    background-color: lightgrey;
    width: 200px;
    height: 200px;
    position: relative;
    cursor: pointer;
    .avatar-edit {
      position: absolute;
      bottom: 0;
      right: 0;
      top: 0;
      left: 0;
      color: rgba(255, 255, 255, 0);
      transition: 500ms;
      text-align: center;
      span {
        margin-top: 60px;
        font-size: 18px;
        text-transform: uppercase;
        letter-spacing: 1px;
        display: inline-block;
      }
      & > i {
        color: rgba(255, 255, 255, 1);
        position: absolute;
        right: 5px;
        bottom: 5px;
        transition: 500ms;
      }
      &:hover {
        background-color: rgba(50,50,50,0.5);
        color: rgba(255, 255, 255, 1);
        & > i {
          color: rgba(255, 255, 255, 0);
        }
      }
    }
  }
  .delete-photo-button {
    background-color: $color-failure;
    cursor: pointer;
    color: white;
    border: none;
    border-radius: 5px;
    &:hover {
      background-color: $color-failure-hover;
    }
  }
  .profile-header {
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    .action-buttons {
      display: flex;
      justify-content: space-between;
      & > div {
        margin-left: 10px;
      }
    }
    .message-link {
      .message-icon {
        background-color: $color-tertiary;
        color: $light-font;
        font-size: 20px;
        padding: 10px 8px 10px 12px;
        border-radius: 50%;
        cursor: pointer;
        &:hover {
          background-color: $color-tertiary-hover;
        }
      }
    }
  }
  .profile-info {
    margin-top: 20px;
    & > span {
      font-size: 12px;
      display: inline-block;
      margin-bottom: 10px;
      .username {
        font-weight: bold;
        color: $color-tertiary-hover;
      }
    }
  }
}
