.hide {
  display: none;
}

.video-list-title, .added-videos {
  width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  .vid-primary-header, input {
    flex-basis: 60px;
  }
  h3 {
    flex-grow: 1;
    margin: 0 50px;
    text-align: left;
    font-weight: 500;
  }
  .remove-button {
    color: $color-failure;
  }
}

.form-inputs {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  & > div {
    margin: 0 10px;
  }
  @media (max-width: 799px) {
    justify-content: center;
  }
}

.no-errors {
  color: $color-failure;
}
.error-message {
  color: $color-failure;
  border: 1px solid $color-failure;
  border-radius: 2px;
  background-color: pink;
  padding: 10px;
  text-align: center;
  margin-top: 20px;
  font-weight: 100;
  transition: 400ms;
}
.form-footer {
  display: flex;
  flex-direction: column-reverse;
  p {
    text-align: center;
    span {
      display: block;
    }
    .span-link {
      color: $color-primary;
      text-decoration: underline;
      margin-top: 10px;
      cursor: pointer;
    }
  }
}
