body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #FFFFFF; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
  margin: 0; }

p {
  font-family: "Amiko", sans-serif; }

button, input, textarea {
  outline: none; }

.BandBox {
  text-align: center;
  margin-bottom: 60px; }
  .BandBox .create-band-link a {
    color: #070649;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    color: #9A6197; }
    .BandBox .create-band-link a:hover {
      color: #894586; }
  .BandBox h2 {
    color: #070649;
    font-weight: 500; }
  .BandBox h3 {
    margin: 5px 10px 5px 0; }
  .BandBox h3 > a {
    color: #070649;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    font-weight: 400;
    color: #9A6197;
    font-size: 16px;
    display: inline-block;
    background-color: #EEEEEE;
    box-shadow: 1px 1px 5px gray;
    padding: 6px 8px;
    border-radius: 3px;
    transition: 300ms; }
    .BandBox h3 > a:hover {
      color: #894586; }
    .BandBox h3 > a:hover {
      background-color: #E0E0E0; }
  .BandBox .band-results {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }

.BandCreateForm form {
  width: 80%;
  max-width: 600px;
  margin: 40px auto;
  border: 1px solid #070649;
  padding: 20px;
  font-size: 20px;
  box-shadow: 2px 2px 10px gray;
  background-color: #B8B7D5;
  padding: 20px;
  border-radius: 10px;
  box-sizing: border-box; }
  .BandCreateForm form .form-group {
    margin: 10px; }
    .BandCreateForm form .form-group label {
      display: block;
      margin-bottom: 5px; }
    .BandCreateForm form .form-group ul {
      padding: 0; }
      .BandCreateForm form .form-group ul h3 {
        font-size: 14px; }
  .BandCreateForm form .search-results-display {
    display: inline-grid;
    max-height: 60px;
    overflow: scroll;
    border: 1px solid #070649; }
    .BandCreateForm form .search-results-display .single-search-result {
      cursor: pointer;
      padding: 0 3px; }
      .BandCreateForm form .search-results-display .single-search-result h4 {
        display: inline-block;
        font-size: 16px; }
        .BandCreateForm form .search-results-display .single-search-result h4 span {
          color: gray;
          font-size: 12px; }
      .BandCreateForm form .search-results-display .single-search-result:hover {
        background-color: #EEE; }
    .BandCreateForm form .search-results-display .no-results {
      font-size: 16px;
      color: gray;
      padding: 3px; }
  .BandCreateForm form .hidden {
    display: none; }
  .BandCreateForm form .charCount {
    font-size: 12px;
    margin: 0; }
  .BandCreateForm form .lowCount {
    color: red; }
  .BandCreateForm form input, .BandCreateForm form select, .BandCreateForm form textarea {
    width: 100%;
    margin-bottom: 10px;
    font-size: 1.0em;
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-sizing: border-box;
    outline: none; }
  .BandCreateForm form select {
    height: 42px;
    overflow: hidden;
    background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
    background-size: contain;
    background-color: #FFFFFF;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* remove default arrow */ }
  .BandCreateForm form textarea {
    resize: none; }
  .BandCreateForm form button {
    border: 3px solid #070649;
    background-color: transparent;
    color: #070649;
    font-size: 1.3em;
    cursor: pointer;
    border-radius: 2px;
    padding: 10px; }
    .BandCreateForm form button:hover {
      background-color: #070649;
      color: #FFFFFF; }
  .BandCreateForm form .no-errors {
    color: #C91208; }
  .BandCreateForm form .error-message {
    color: #C91208;
    border: 2px solid #C91208;
    border-radius: 5px;
    background-color: pink;
    padding: 10px;
    font-weight: 600;
    transition: 400ms; }
  .BandCreateForm form .form-footer {
    display: flex;
    flex-direction: column-reverse; }
    .BandCreateForm form .form-footer button {
      align-self: center; }
    .BandCreateForm form .form-footer p {
      text-align: center; }
      .BandCreateForm form .form-footer p span {
        display: block; }
      .BandCreateForm form .form-footer p .span-link {
        color: #070649;
        text-decoration: underline;
        cursor: pointer; }

.BandEventBox {
  margin-bottom: 30px;
  text-align: center; }
  .BandEventBox h2 {
    font-weight: 500; }
  .BandEventBox .gig {
    text-align: left; }
    .BandEventBox .gig h3 a {
      font-weight: 500;
      letter-spacing: 0.5px; }
    .BandEventBox .gig a {
      color: #070649;
      font-weight: 600;
      text-decoration: none;
      cursor: pointer; }
      .BandEventBox .gig a:hover {
        color: #894586; }

.BandPage {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  padding: 40px;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap; }
  .BandPage .band-info {
    text-align: left;
    flex-basis: 100%;
    display: flex;
    justify-content: space-around; }
    .BandPage .band-info .add-button {
      background-color: #9A6197;
      cursor: pointer;
      border-radius: 50%;
      color: #FFFFFF;
      padding: 5px 7px;
      font-size: 14px;
      text-align: center; }
      .BandPage .band-info .add-button:hover {
        background-color: #894586; }
    .BandPage .band-info .band-info-section {
      padding: 10px;
      display: flex;
      justify-content: space-between; }
      .BandPage .band-info .band-info-section .Form {
        max-width: 500px; }
    .BandPage .band-info > div:first-of-type i {
      color: #C91208; }
    .BandPage .band-info > div:first-of-type .edit-band i, .BandPage .band-info > div:first-of-type .delete-band i {
      cursor: pointer;
      font-size: 20px;
      color: #070649;
      margin-left: 15px; }
    .BandPage .band-info > div:first-of-type .search-members-link a {
      font-size: 14px;
      text-decoration: none;
      margin-left: 20px;
      color: #9A6197;
      cursor: pointer; }
      .BandPage .band-info > div:first-of-type .search-members-link a:hover {
        color: #894586; }
    .BandPage .band-info .members {
      margin-top: 20px; }
      .BandPage .band-info .members h4 {
        padding: 5px; }
      .BandPage .band-info .members .add-members-div {
        position: relative; }
        .BandPage .band-info .members .add-members-div input {
          border-radius: 20px;
          border: 1px solid #070649;
          box-sizing: border-box;
          font-size: 14px;
          padding: 5px 20px;
          outline: none;
          margin: 10px 0; }
          .BandPage .band-info .members .add-members-div input:focus {
            border: 2px solid #070649; }
      .BandPage .band-info .members .search-results-display {
        border: 1px solid #070649;
        position: fixed;
        max-height: 250px;
        overflow: scroll; }
        .BandPage .band-info .members .search-results-display .single-search-result {
          padding: 5px;
          cursor: pointer; }
          .BandPage .band-info .members .search-results-display .single-search-result:hover {
            background-color: #9A6197;
            color: #FFFFFF; }
    .BandPage .band-info .delete-band-form {
      position: absolute;
      width: 100vw;
      height: 100vh;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.8);
      z-index: 200; }
      .BandPage .band-info .delete-band-form .form {
        width: 60%;
        max-width: 300px;
        padding: 30px;
        margin: 20vh auto;
        background-color: #B8B7D5;
        text-align: center; }
        .BandPage .band-info .delete-band-form .form button {
          margin-top: 20px; }
        .BandPage .band-info .delete-band-form .form .confirm {
          border: 3px solid #C91208;
          text-decoration: none;
          background-color: transparent;
          color: #C91208;
          font-size: 1.2em;
          cursor: pointer;
          border-radius: 2px;
          padding: 8px;
          margin-right: 20px; }
          .BandPage .band-info .delete-band-form .form .confirm:hover {
            background-color: #C91208;
            color: #FFFFFF; }
        .BandPage .band-info .delete-band-form .form .goback {
          border: 3px solid #137F15;
          text-decoration: none;
          background-color: transparent;
          color: #137F15;
          font-size: 1.2em;
          cursor: pointer;
          border-radius: 2px;
          padding: 8px; }
          .BandPage .band-info .delete-band-form .form .goback:hover {
            background-color: #137F15;
            color: #FFFFFF; }
    .BandPage .band-info .Form {
      margin-top: 20px;
      margin-left: 0;
      width: 100%; }
  .BandPage .band-events {
    flex-basis: 50%; }
    .BandPage .band-events h2 {
      text-align: center;
      flex-basis: 60%; }
    .BandPage .band-events .EventList {
      width: 100%; }
  .BandPage .hide {
    display: none; }

.BandPageBrowseMusicians {
  padding: 50px;
  text-align: center;
  color: #070649; }
  .BandPageBrowseMusicians h1 {
    margin-bottom: 30px; }

.BaseLayout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between; }
  .BaseLayout .children {
    flex-grow: 1;
    padding-top: 80px; }

.BrowseBox {
  text-align: center; }
  .BrowseBox .browse-box-flex {
    display: flex;
    align-items: center; }
  .BrowseBox .chevron {
    font-size: 40px;
    cursor: pointer;
    color: rgba(154, 97, 151, 0.2);
    transition: 300ms;
    margin-top: 40px; }
    .BrowseBox .chevron:hover {
      color: rgba(154, 97, 151, 0.7); }
  .BrowseBox .hidden {
    opacity: 0; }
  .BrowseBox .card-header {
    padding-top: 25px; }
    .BrowseBox .card-header h3 {
      color: #070649;
      font-size: 26px; }
  .BrowseBox .card-bio {
    padding: 10px 40px 20px; }
    .BrowseBox .card-bio p {
      margin: 0;
      font-size: 14px;
      text-align: left; }
  .BrowseBox .browse-box-container {
    width: 600px;
    height: 720px;
    margin: 0 auto;
    position: relative;
    overflow: hidden; }
    .BrowseBox .browse-box-container .show-item {
      position: absolute;
      padding: 10px;
      width: 100%;
      box-sizing: border-box;
      transition: 500ms; }
      .BrowseBox .browse-box-container .show-item iframe {
        border-radius: 3px;
        margin-top: 10px;
        padding: 10px; }
      .BrowseBox .browse-box-container .show-item img {
        margin-top: 20px;
        border-radius: 3px;
        height: 250px; }
    .BrowseBox .browse-box-container h3 a {
      color: #9A6197;
      text-decoration: none;
      transition: 300ms; }
      .BrowseBox .browse-box-container h3 a:hover {
        color: #894586; }
    .BrowseBox .browse-box-container strong {
      color: #070649; }

.CalendarPage {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  padding: 50px; }
  .CalendarPage > div {
    margin-top: 0; }
  .CalendarPage .react-datepicker-wrapper {
    margin-right: 10px; }

.CenterComponent {
  background-color: #FAFAFA;
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  min-height: calc(100vh - 80px);
  margin-left: 25%;
  width: 50%;
  box-sizing: border-box;
  padding: 20px 40px; }

.ConnectResults {
  text-align: left;
  position: fixed;
  height: 200px;
  overflow: scroll;
  border-radius: 2px; }
  .ConnectResults .single-search-result {
    background-color: #E0E0E0;
    font-size: 10px; }
    .ConnectResults .single-search-result a {
      margin: 0;
      text-decoration: none;
      color: #070649; }

.Contact {
  padding: 50px;
  background-color: #F5F5F5;
  text-align: center; }
  .Contact h1 {
    font-size: 3.0em; }
  .Contact .form {
    width: 50%;
    margin: 20px auto 0;
    background-color: #B8B7D5;
    padding: 20px;
    border-radius: 10px;
    box-sizing: border-box; }
    .Contact .form input, .Contact .form textarea {
      width: 100%;
      margin-bottom: 10px;
      font-size: 1.0em;
      padding: 10px;
      border-radius: 5px;
      border: none;
      box-sizing: border-box;
      outline: none; }
    .Contact .form textarea {
      resize: none; }
    .Contact .form button {
      border: 3px solid #070649;
      background-color: transparent;
      color: #070649;
      font-size: 1.0em;
      cursor: pointer;
      border-radius: 2px;
      padding: 10px; }
      .Contact .form button:hover {
        background-color: #070649;
        color: #FFFFFF; }

.CTAButton button {
  background-color: #9A6197;
  color: #FFFFFF;
  text-transform: uppercase;
  padding: 12px 16px;
  font-size: 18px;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  cursor: pointer;
  transition: 150ms; }
  .CTAButton button:hover {
    background-color: #894586; }

.EventCreator .event-form {
  margin: 60px auto;
  max-width: 450px;
  box-shadow: 2px 2px 10px black;
  border-radius: 15px; }

.EventList {
  text-align: center;
  width: 70%;
  margin: 30px auto -60px;
  padding-bottom: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: scroll;
  height: calc(100vh - 220px); }
  .EventList .event {
    align-self: flex-start;
    display: flex;
    justify-content: space-between;
    flex-basis: 100%;
    box-sizing: border-box;
    margin: 10px;
    box-shadow: 2px 2px 12px gray;
    cursor: pointer;
    transition: 300ms;
    text-decoration: none;
    color: inherit; }
    .EventList .event:hover {
      transform: scale(1.005); }
    .EventList .event .dateInfo {
      width: 70px;
      padding: 10px;
      background-color: #070649;
      color: #FFFFFF;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .EventList .event .dateInfo .date {
        font-size: 40px;
        border-bottom: 1px solid #FFFFFF;
        padding-bottom: 5px; }
      .EventList .event .dateInfo .month {
        font-size: 18px;
        letter-spacing: 1px;
        text-transform: uppercase;
        padding-top: 5px; }
    .EventList .event .info {
      padding: 20px;
      flex-grow: 1; }
      .EventList .event .info .top {
        display: flex;
        justify-content: space-between;
        align-items: center; }
        .EventList .event .info .top .title {
          text-align: right;
          font-weight: 700;
          font-size: 18px;
          display: inline; }
        .EventList .event .info .top .type {
          margin: 0;
          text-align: right;
          font-weight: 700;
          color: #894586; }
      .EventList .event .info .details {
        font-size: 14px;
        text-align: right;
        line-height: 15px; }
      .EventList .event .info .buttons {
        margin-top: 20px;
        text-align: right; }
        .EventList .event .info .buttons h3 {
          font-size: 14px;
          color: #030303; }
        .EventList .event .info .buttons i {
          margin: 4px;
          font-size: 12px;
          height: 12px;
          width: 12px;
          cursor: pointer;
          border-radius: 50%;
          padding: 4px;
          transition: 250ms; }
          .EventList .event .info .buttons i.yes {
            border: 2px solid green;
            color: green; }
            .EventList .event .info .buttons i.yes:hover, .EventList .event .info .buttons i.yes.selected {
              background-color: green;
              color: white; }
          .EventList .event .info .buttons i.no {
            border: 2px solid red;
            color: red; }
            .EventList .event .info .buttons i.no:hover, .EventList .event .info .buttons i.no.selected {
              background-color: red;
              color: white; }

.EventPage {
  box-shadow: 2px 2px 20px gray;
  max-width: 600px;
  margin: 40px auto; }
  .EventPage h1 {
    text-align: center;
    background-color: #070649;
    color: #FFFFFF;
    font-size: 30px;
    padding: 10px; }
  .EventPage .details {
    padding: 20px; }
    .EventPage .details i {
      margin: 4px;
      font-size: 12px;
      height: 12px;
      width: 12px;
      cursor: pointer;
      border-radius: 50%;
      padding: 4px;
      transition: 250ms; }
      .EventPage .details i.yes {
        border: 2px solid green;
        color: green; }
        .EventPage .details i.yes:hover, .EventPage .details i.yes.selected {
          background-color: green;
          color: white; }
      .EventPage .details i.no {
        border: 2px solid red;
        color: red; }
        .EventPage .details i.no:hover, .EventPage .details i.no.selected {
          background-color: red;
          color: white; }

.Features {
  padding: 50px 0;
  color: #070649;
  text-align: center; }
  .Features h1 {
    font-size: 3.0em; }
  .Features .feature-list {
    display: flex;
    justify-content: center;
    padding: 50px 0 0;
    width: 80%;
    margin: 0 auto; }
    .Features .feature-list .feature {
      flex-basis: 33%;
      padding: 0 60px;
      box-sizing: border-box; }
      .Features .feature-list .feature i {
        font-size: 6.0em; }
      .Features .feature-list .feature p {
        text-align: left;
        line-height: 1.5em;
        font-size: 1.1em; }

.Footer {
  font-size: 1.2em;
  text-align: center;
  background-color: #070649;
  color: #FFFFFF;
  padding: 10px;
  flex-basis: 100%;
  z-index: 10; }

.Form {
  max-width: 450px;
  margin: 150px auto 0;
  background-color: #B8B7D5;
  padding: 20px;
  border-radius: 10px;
  box-sizing: border-box; }
  .Form input, .Form select, .Form textarea {
    width: 100%;
    margin-bottom: 10px;
    font-size: 1.0em;
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-sizing: border-box;
    outline: none; }
  .Form select {
    height: 38px;
    overflow: hidden;
    background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
    background-size: contain;
    background-color: #FFFFFF;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* remove default arrow */ }
  .Form textarea {
    resize: none;
    margin-bottom: 5px; }
  .Form .flex-calendar {
    display: flex;
    justify-content: space-between;
    align-items: stretch; }
    .Form .flex-calendar .rc-time-picker-input {
      height: 38px; }
  .Form button {
    border: 3px solid #070649;
    background-color: transparent;
    color: #070649;
    font-size: 1.3em;
    cursor: pointer;
    border-radius: 2px;
    padding: 10px; }
    .Form button:hover {
      background-color: #070649;
      color: #FFFFFF; }
  .Form .no-errors {
    color: #C91208; }
  .Form .error-message {
    color: #C91208;
    border: 2px solid #C91208;
    border-radius: 5px;
    background-color: pink;
    padding: 10px;
    font-weight: 600;
    transition: 400ms; }
  .Form .form-footer {
    display: flex;
    flex-direction: column-reverse; }
    .Form .form-footer button {
      align-self: center; }
    .Form .form-footer p {
      text-align: center; }
      .Form .form-footer p span {
        display: block; }
      .Form .form-footer p .span-link {
        color: #070649;
        text-decoration: underline;
        cursor: pointer; }

.Home {
  position: absolute;
  top: 0; }
  .Home .landing-page-background {
    text-align: center;
    background-image: url("./assets/images/landing-page-background.jpg");
    background-size: cover;
    min-height: 100vh;
    color: #FFFFFF;
    position: relative;
    width: 100%; }
    .Home .landing-page-background .feature-text {
      text-align: center;
      padding-top: 20vh; }
      .Home .landing-page-background .feature-text h1 {
        font-size: 4.5em;
        margin-bottom: 0; }
      .Home .landing-page-background .feature-text h2 {
        margin-top: 10px;
        margin-bottom: 40px;
        font-size: 2.0em;
        font-weight: lighter; }
    .Home .landing-page-background .arrow-wrapper {
      position: absolute;
      width: 100%;
      bottom: 10px;
      font-size: 50px;
      text-align: center; }

.LeftMainPageSideBar {
  color: #030303;
  box-shadow: 0 0 12px 1px #CCC;
  height: calc(100vh - 80px);
  position: fixed;
  box-sizing: border-box;
  width: 25%;
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  overflow: scroll; }
  .LeftMainPageSideBar h2 {
    color: #070649; }
  .LeftMainPageSideBar .see-all-link {
    font-size: 12px;
    margin-bottom: 10px;
    display: inline-block;
    color: #9A6197; }
  .LeftMainPageSideBar h3 {
    color: #894586;
    font-size: 16px; }
  .LeftMainPageSideBar h4 {
    font-size: 14px; }
  .LeftMainPageSideBar p {
    font-size: 12px;
    margin-top: 5px; }
  .LeftMainPageSideBar hr {
    border-color: #9A6197;
    border-top: 0; }
  .LeftMainPageSideBar .buttons {
    margin-top: 20px; }
    .LeftMainPageSideBar .buttons h3 {
      font-size: 14px;
      color: #030303; }
    .LeftMainPageSideBar .buttons i {
      margin: 4px;
      font-size: 12px;
      height: 12px;
      width: 12px;
      cursor: pointer;
      border-radius: 50%;
      padding: 4px;
      transition: 250ms; }
      .LeftMainPageSideBar .buttons i.yes {
        border: 2px solid green;
        color: green; }
        .LeftMainPageSideBar .buttons i.yes:hover, .LeftMainPageSideBar .buttons i.yes.selected {
          background-color: green;
          color: white; }
      .LeftMainPageSideBar .buttons i.no {
        border: 2px solid red;
        color: red; }
        .LeftMainPageSideBar .buttons i.no:hover, .LeftMainPageSideBar .buttons i.no.selected {
          background-color: red;
          color: white; }

.Main {
  background-color: white;
  display: flex; }

.MainFeed {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #FAFAFA;
  color: #030303;
  min-height: calc(100vh - 80px);
  width: 50%;
  box-sizing: border-box;
  margin-left: 25%;
  padding: 20px 40px; }
  .MainFeed .buttons {
    margin-top: 20px; }
    .MainFeed .buttons h3 {
      font-size: 14px;
      color: #030303; }
    .MainFeed .buttons i {
      margin: 4px;
      font-size: 12px;
      height: 12px;
      width: 12px;
      cursor: pointer;
      border-radius: 50%;
      padding: 4px;
      transition: 250ms; }
      .MainFeed .buttons i.yes {
        border: 2px solid green;
        color: green; }
        .MainFeed .buttons i.yes:hover, .MainFeed .buttons i.yes.selected {
          background-color: green;
          color: white; }
      .MainFeed .buttons i.no {
        border: 2px solid red;
        color: red; }
        .MainFeed .buttons i.no:hover, .MainFeed .buttons i.no.selected {
          background-color: red;
          color: white; }

.MessageDisplay {
  flex-basis: 50%;
  box-sizing: border-box; }
  .MessageDisplay .currentRecipient {
    text-align: center;
    background-color: #070649;
    padding: 6px;
    color: #FFFFFF; }
  .MessageDisplay .message-box {
    height: calc(100vh - 160px);
    width: 80%;
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column; }
  .MessageDisplay .messages {
    flex-basis: 80%;
    border: 1px solid black;
    overflow: scroll; }
    .MessageDisplay .messages .message {
      margin: 10px;
      position: relative; }
      .MessageDisplay .messages .message .sent {
        background-color: teal;
        color: #FFFFFF; }
      .MessageDisplay .messages .message .message-wrapper {
        max-width: 70%;
        display: inline-block;
        border: 1px solid #070649;
        border-radius: 15px;
        padding: 0 10px; }
    .MessageDisplay .messages .sent {
      text-align: right; }
  .MessageDisplay .message-date {
    color: #E0E0E0; }
  .MessageDisplay .message-editor {
    width: 100%;
    margin: 10px auto;
    display: flex; }
    .MessageDisplay .message-editor input {
      flex-grow: 1;
      resize: none;
      font-size: 16px;
      padding: 10px 20px;
      border: 1px solid #070649;
      border-radius: 20px;
      outline: none; }
    .MessageDisplay .message-editor .send-message-button {
      border: none;
      border-radius: 5px;
      flex-basis: 100px;
      font-size: 16px;
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 1px;
      background-color: #9A6197;
      color: #FFFFFF;
      cursor: pointer;
      margin-left: 10px;
      outline: none; }
      .MessageDisplay .message-editor .send-message-button:hover {
        background-color: #894586; }
    .MessageDisplay .message-editor .disabled {
      background-color: #EEEEEE;
      border: 1px solid #DDDDDD;
      color: #DDDDDD; }
      .MessageDisplay .message-editor .disabled:hover {
        background-color: #EEEEEE;
        color: #DDDDDD;
        cursor: not-allowed; }

.MessageHistorySideBar {
  flex-basis: 20%;
  box-sizing: border-box;
  border: 1px solid gray;
  padding: 0;
  height: calc((100vh - 160px) * .8);
  overflow: scroll; }
  .MessageHistorySideBar .message-history-result {
    border: 1px solid black;
    padding: 5px 20px;
    cursor: pointer;
    transition: 250ms; }
    .MessageHistorySideBar .message-history-result:hover {
      background-color: #EEEEEE;
      color: #070649; }
    .MessageHistorySideBar .message-history-result h4 {
      margin-bottom: 5px; }
    .MessageHistorySideBar .message-history-result p {
      margin: 0 0 0 15px; }
  .MessageHistorySideBar .unread {
    background-color: #9A6197;
    color: #FFFFFF; }

.MessagePage {
  padding-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.MessageSearchBar {
  flex-basis: 20%;
  box-sizing: border-box; }
  .MessageSearchBar input {
    border-radius: 20px;
    border: 2px solid #070649;
    width: 100%;
    box-sizing: border-box;
    font-size: 14px;
    padding: 5px 20px;
    outline: none;
    margin-bottom: 10px; }
  .MessageSearchBar .display-search-results {
    position: fixed;
    height: 200px;
    overflow: scroll;
    z-index: 100;
    background-color: #EEEEEE;
    font-size: 14px; }
    .MessageSearchBar .display-search-results .search-result {
      padding: 5px;
      cursor: pointer; }
      .MessageSearchBar .display-search-results .search-result:hover {
        background-color: #9A6197;
        color: #FFFFFF; }

.message-confirm-modal .message-sent-check {
  background-color: #137F15;
  color: #FFFFFF;
  font-size: 60px;
  padding: 10px;
  border-radius: 50%;
  border: 4px solid #FFFFFF;
  margin-top: 70px; }

.message-input {
  text-align: left; }

.Modal {
  position: fixed;
  width: 100vw;
  height: 100%;
  overflow: scroll;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  z-index: 100;
  padding: 100px 0;
  box-sizing: border-box;
  text-align: center; }
  .Modal #exit-button {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 36px;
    cursor: pointer;
    color: #FFFFFF; }
    .Modal #exit-button:hover {
      color: lightgray; }
  .Modal .full-background {
    box-shadow: 2px 2px 45px #030303;
    width: 50%;
    max-width: 600px;
    margin: 0 auto;
    background-color: #B8B7D5;
    padding: 20px;
    border-radius: 10px;
    box-sizing: border-box;
    min-height: 50vh; }
    .Modal .full-background .flex-form {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      margin-right: 40px; }
      .Modal .full-background .flex-form .add-video-button {
        margin-right: 10px;
        font-size: 20px;
        background-color: #137F15;
        color: #FFFFFF;
        padding: 5px 7px;
        line-height: 20px;
        border-radius: 50%; }
      .Modal .full-background .flex-form .vid-form {
        flex-grow: 1; }
    .Modal .full-background .video-modal h3 {
      margin: 20px 50px;
      letter-spacing: 1px;
      line-height: 26px; }
    .Modal .full-background .flex-inputs {
      flex-basis: 100%;
      display: flex;
      justify-content: space-between; }
      .Modal .full-background .flex-inputs input {
        flex-basis: 48%; }
    .Modal .full-background .video-list-title {
      display: flex;
      width: 75%;
      margin: 20px auto;
      font-weight: 700; }
      .Modal .full-background .video-list-title .vid-title-header {
        flex-grow: 1; }
    .Modal .full-background .added-videos {
      width: 75%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between; }
      .Modal .full-background .added-videos input {
        flex-basis: 20px; }
      .Modal .full-background .added-videos h3 {
        flex-grow: 1;
        margin: 0 50px;
        text-align: left;
        font-weight: 500; }
      .Modal .full-background .added-videos .remove-button {
        color: #C91208; }
    .Modal .full-background .error-message {
      color: #C91208;
      background-color: pink;
      padding: 15px;
      border: 2px solid #C91208;
      border-radius: 5px; }
    .Modal .full-background .message-confirm-modal .message-sent-check {
      background-color: #137F15;
      color: #FFFFFF;
      font-size: 60px;
      padding: 10px;
      border-radius: 50%;
      border: 4px solid #FFFFFF;
      margin-top: 70px; }
    .Modal .full-background input, .Modal .full-background select {
      width: 100%;
      margin-bottom: 10px;
      font-size: 1.0em;
      padding: 10px;
      border-radius: 5px;
      border: none;
      box-sizing: border-box;
      outline: none; }
    .Modal .full-background select {
      height: 38px;
      overflow: hidden;
      background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
      background-size: contain;
      background-color: #FFFFFF;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      /* remove default arrow */ }
    .Modal .full-background textarea {
      width: 100%;
      box-sizing: border-box;
      border-radius: 10px;
      padding: 15px;
      font-size: 18px;
      resize: none;
      margin: 0;
      outline: none; }
    .Modal .full-background button {
      margin-top: 20px;
      border: 3px solid #070649;
      background-color: transparent;
      color: #070649;
      font-size: 1.3em;
      cursor: pointer;
      border-radius: 2px;
      padding: 10px; }
      .Modal .full-background button:hover {
        background-color: #070649;
        color: #FFFFFF; }

.MusicianCarousel {
  width: 50%;
  margin: 30px auto;
  display: flex;
  align-items: center; }
  .MusicianCarousel .disabled-btn {
    color: lightgray; }
  .MusicianCarousel i {
    flex-basis: 10%;
    text-align: center;
    font-size: 3.0em;
    cursor: pointer; }
  .MusicianCarousel .slider {
    position: relative;
    flex-basis: 80%;
    overflow: hidden;
    height: 450px;
    box-sizing: border-box;
    border: 1px solid #070649; }
  .MusicianCarousel .single-result {
    transition: 500ms;
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%; }
  .MusicianCarousel .message-link {
    position: absolute;
    bottom: 10px;
    right: 10px; }
    .MusicianCarousel .message-link .message-icon {
      background-color: #9A6197;
      color: #FFFFFF;
      font-size: 38px;
      padding: 15px 12px 15px 18px;
      border-radius: 50%;
      cursor: pointer; }
      .MusicianCarousel .message-link .message-icon:hover {
        background-color: #894586; }

.logged-in {
  background-color: #070649;
  position: fixed;
  height: 80px; }

.logged-out {
  background-color: transparent; }

.Navbar {
  width: 100%;
  align-items: center;
  z-index: 10;
  padding: 20px 150px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between; }
  .Navbar .hidden {
    display: none; }
  .Navbar a {
    color: #FFFFFF;
    margin: 10px;
    text-decoration: none;
    cursor: pointer; }
    .Navbar a:hover {
      color: #E0E0E0; }
    .Navbar a .fa-home {
      font-size: 22px;
      line-height: 16px; }
  .Navbar .left {
    display: flex;
    align-items: center; }
    .Navbar .left .brand-name {
      font-size: 1.4em;
      margin-bottom: 2px;
      font-family: "Amiko", sans-serif; }
      .Navbar .left .brand-name img {
        width: 10vw;
        min-width: 120px;
        max-width: 160px; }
      .Navbar .left .brand-name span {
        font-family: "Archivo Black", sans-serif;
        font-weight: 100; }
    .Navbar .left input {
      outline: none;
      border: none;
      border-radius: 10px;
      padding: 5px 10px;
      width: 150px;
      letter-spacing: 0.5px; }
  .Navbar .relative-navlink {
    position: relative; }
    .Navbar .relative-navlink .fa-plus {
      font-size: 12px;
      position: absolute;
      right: -8px;
      top: -4px; }
  .Navbar .fa {
    vertical-align: text-top; }
  .Navbar .button-link {
    transition: 200ms;
    border: 2px solid #FFFFFF;
    border-radius: 1px;
    margin: 10px;
    padding: 3px 6px;
    color: #FFFFFF;
    cursor: pointer; }
    .Navbar .button-link:hover {
      background-color: #FFFFFF;
      color: #070649; }
  .Navbar .fa-circle {
    color: red;
    font-size: 10px;
    position: absolute;
    top: -3px;
    right: -5px; }

.NewsFeed {
  box-shadow: 0 0 12px 1px #CCC;
  height: calc(100vh - 80px);
  position: fixed;
  overflow: scroll;
  left: 75%;
  width: 25%;
  box-sizing: border-box;
  padding: 20px 40px; }
  .NewsFeed .FormInput {
    width: 100%; }
    .NewsFeed .FormInput input {
      width: 100%;
      box-sizing: border-box;
      border: 2px solid #070649;
      border-radius: 25px;
      font-size: 16px;
      padding: 5px 10px; }
      .NewsFeed .FormInput input:focus {
        outline: none; }
  .NewsFeed .itunes-results {
    padding: 0 10px;
    background-color: #FFFFFF;
    border: 1px solid #070649;
    border-radius: 5px;
    position: fixed;
    overflow: scroll;
    height: calc(100vh - 200px);
    width: calc(25% - 85px); }
    .NewsFeed .itunes-results span {
      font-weight: 600; }
    .NewsFeed .itunes-results .result {
      border-bottom: 1px solid #070649;
      cursor: pointer;
      transition: 200ms; }
      .NewsFeed .itunes-results .result:hover {
        color: #070649;
        font-weight: 700; }
  .NewsFeed .NewsFeedEvent > div {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .NewsFeed .NewsFeedEvent i {
    margin-right: 10px;
    font-size: 25px;
    color: #070649;
    cursor: pointer; }
  .NewsFeed .NewsFeedEvent p {
    font-size: 14px;
    margin: 20px 0; }
    .NewsFeed .NewsFeedEvent p a {
      color: #070649;
      font-weight: 600;
      text-decoration: none;
      cursor: pointer; }
      .NewsFeed .NewsFeedEvent p a:hover {
        color: #894586; }
  .NewsFeed .event {
    border: 1px solid black;
    padding: 20px 40px;
    cursor: pointer;
    transition: 300ms; }
    .NewsFeed .event:hover {
      color: #894586;
      background-color: #FFFFFF; }
    .NewsFeed .event p {
      margin: 0; }
    .NewsFeed .event .event-header {
      display: flex;
      align-items: center; }
      .NewsFeed .event .event-header .text {
        flex-grow: 1;
        margin-bottom: 10px; }
      .NewsFeed .event .event-header .buttons {
        text-align: center; }
        .NewsFeed .event .event-header .buttons h3 {
          font-size: 14px;
          color: #030303; }
        .NewsFeed .event .event-header .buttons i {
          margin: 4px;
          font-size: 12px;
          height: 12px;
          width: 12px;
          cursor: pointer;
          border-radius: 50%;
          padding: 4px;
          transition: 250ms; }
          .NewsFeed .event .event-header .buttons i.yes {
            border: 2px solid green;
            color: green; }
            .NewsFeed .event .event-header .buttons i.yes:hover, .NewsFeed .event .event-header .buttons i.yes.selected {
              background-color: green;
              color: white; }
          .NewsFeed .event .event-header .buttons i.no {
            border: 2px solid red;
            color: red; }
            .NewsFeed .event .event-header .buttons i.no:hover, .NewsFeed .event .event-header .buttons i.no.selected {
              background-color: red;
              color: white; }

.Profile {
  background-color: white;
  display: flex; }
  .Profile h2 {
    color: #070649; }

.ProfileContent {
  background-color: #FFFFFF;
  padding: 20px;
  border: 1px solid #070649;
  border-top: none; }
  .ProfileContent .ProfileBands .band {
    padding: 20px 20px;
    border-bottom: 1px solid #070649; }
    .ProfileContent .ProfileBands .band h3 {
      margin-left: -10px; }
    .ProfileContent .ProfileBands .band p {
      margin: 10px 0;
      font-size: 14px; }
    .ProfileContent .ProfileBands .band a {
      color: #9A6197;
      text-decoration: none; }
      .ProfileContent .ProfileBands .band a:hover {
        color: #894586; }
    .ProfileContent .ProfileBands .band:last-of-type {
      border-bottom: none; }

.ProfileInfo {
  width: 90%;
  margin: 20px auto; }

.ProfileInfoMain h4 {
  color: #070649;
  margin-bottom: 10px; }

.ProfileInfoMain a {
  color: #070649;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer; }
  .ProfileInfoMain a:hover {
    color: #894586; }

.ProfileInfoMain .user-instruments {
  padding-left: 20px; }
  .ProfileInfoMain .user-instruments span {
    display: block; }

.ProfileInfoNavBar {
  display: flex; }
  .ProfileInfoNavBar > div {
    flex-grow: 1;
    border: 1px solid #070649;
    border-right: none;
    text-align: center;
    background-color: #FFFFFF;
    padding: 5px;
    cursor: pointer;
    transition: 300ms; }
    .ProfileInfoNavBar > div:hover {
      background-color: #9A6197;
      color: #FFFFFF; }
  .ProfileInfoNavBar > div:last-of-type {
    border-right: 1px solid #070649; }
  .ProfileInfoNavBar .active {
    background-color: #9A6197;
    color: #FFFFFF; }

.ScrollBox {
  color: #030303;
  margin: 10px;
  flex-basis: 25%;
  flex-grow: 1; }
  .ScrollBox h2 {
    font-size: 18px; }
  .ScrollBox h3 {
    font-size: 14px; }
  .ScrollBox p {
    font-size: 12px; }
  .ScrollBox ul {
    padding: 0; }
    .ScrollBox ul li {
      list-style: none; }

.hide {
  display: none; }

.video-list-title, .added-videos {
  width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between; }
  .video-list-title .vid-primary-header, .video-list-title input, .added-videos .vid-primary-header, .added-videos input {
    flex-basis: 60px; }
  .video-list-title h3, .added-videos h3 {
    flex-grow: 1;
    margin: 0 50px;
    text-align: left;
    font-weight: 500; }
  .video-list-title .remove-button, .added-videos .remove-button {
    color: #C91208; }

.form-inputs {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  .form-inputs > div {
    margin: 0 10px; }
  @media (max-width: 799px) {
    .form-inputs {
      justify-content: center; } }

.no-errors {
  color: #C91208; }

.error-message {
  color: #C91208;
  border: 1px solid #C91208;
  border-radius: 2px;
  background-color: pink;
  padding: 10px;
  text-align: center;
  margin-top: 20px;
  font-weight: 100;
  transition: 400ms; }

.form-footer {
  display: flex;
  flex-direction: column-reverse; }
  .form-footer p {
    text-align: center; }
    .form-footer p span {
      display: block; }
    .form-footer p .span-link {
      color: #070649;
      text-decoration: underline;
      margin-top: 10px;
      cursor: pointer; }

.AvatarCropper-base {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding-top: 150px; }
  .AvatarCropper-base .AvatarCropper-canvas {
    background-color: silver;
    padding: 25px;
    border-radius: 3px;
    box-shadow: 2px 2px 10px #111111;
    width: 450px;
    box-sizing: border-box;
    margin: 0 auto; }
    .AvatarCropper-base .AvatarCropper-canvas .row {
      background-color: white;
      width: 400px;
      box-sizing: border-box; }
      .AvatarCropper-base .AvatarCropper-canvas .row:first-of-type {
        height: 400px; }
      .AvatarCropper-base .AvatarCropper-canvas .row input {
        box-sizing: border-box;
        margin: 0; }
    .AvatarCropper-base .AvatarCropper-canvas .modal-footer button {
      background: transparent;
      border: 2px solid #070649;
      color: #070649;
      margin: 10px 10px 0;
      cursor: pointer;
      font-size: 20px; }
      .AvatarCropper-base .AvatarCropper-canvas .modal-footer button:hover {
        background-color: #070649;
        color: #FFFFFF; }

.crop-circle {
  position: absolute;
  z-index: 1000;
  width: 400px;
  height: 400px;
  box-sizing: border-box;
  pointer-events: none;
  top: 175px;
  left: calc(50vw - 200px);
  border: 2px dashed #DDDDDD;
  border-radius: 50%; }

.UserProfile .fa-pencil-square-o {
  cursor: pointer; }
  .UserProfile .fa-pencil-square-o:hover {
    font-weight: 700; }

.UserProfile .avatar-photo {
  background-color: lightgrey;
  width: 200px;
  height: 200px;
  position: relative;
  cursor: pointer; }
  .UserProfile .avatar-photo .avatar-edit {
    position: absolute;
    bottom: 0;
    right: 0;
    top: 0;
    left: 0;
    color: rgba(255, 255, 255, 0);
    transition: 500ms;
    text-align: center; }
    .UserProfile .avatar-photo .avatar-edit span {
      margin-top: 60px;
      font-size: 18px;
      text-transform: uppercase;
      letter-spacing: 1px;
      display: inline-block; }
    .UserProfile .avatar-photo .avatar-edit > i {
      color: white;
      position: absolute;
      right: 5px;
      bottom: 5px;
      transition: 500ms; }
    .UserProfile .avatar-photo .avatar-edit:hover {
      background-color: rgba(50, 50, 50, 0.5);
      color: white; }
      .UserProfile .avatar-photo .avatar-edit:hover > i {
        color: rgba(255, 255, 255, 0); }

.UserProfile .delete-photo-button {
  background-color: #C91208;
  cursor: pointer;
  color: white;
  border: none;
  border-radius: 5px; }
  .UserProfile .delete-photo-button:hover {
    background-color: #890C05; }

.UserProfile .profile-header {
  padding: 0 30px;
  display: flex;
  justify-content: space-between; }
  .UserProfile .profile-header .message-link .message-icon {
    background-color: #9A6197;
    color: #FFFFFF;
    font-size: 20px;
    padding: 10px 8px 10px 12px;
    border-radius: 50%;
    cursor: pointer; }
    .UserProfile .profile-header .message-link .message-icon:hover {
      background-color: #894586; }

.UserProfile .profile-info {
  margin-top: 20px; }
  .UserProfile .profile-info > span {
    font-size: 12px;
    display: inline-block;
    margin-bottom: 10px; }
    .UserProfile .profile-info > span .username {
      font-weight: bold;
      color: #894586; }
