body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #FFFFFF; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
  margin: 0; }

p {
  font-family: "Amiko", sans-serif; }

.BandBox h3 {
  margin: 5px 10px 5px 0; }

.BandBox h3 > a {
  font-size: 12px;
  display: inline-block;
  background-color: #EEEEEE;
  padding: 6px;
  color: #894586;
  text-decoration: none; }
  .BandBox h3 > a:hover {
    background-color: #E0E0E0; }

.BandBox .band-results {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap; }

.BaseLayout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between; }
  .BaseLayout .children {
    flex-grow: 1;
    padding-top: 80px; }

.CenterComponent {
  background-color: #FAFAFA;
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  min-height: calc(100vh - 80px);
  margin-left: 25%;
  width: 50%;
  box-sizing: border-box;
  padding: 20px 40px; }

.Contact {
  padding: 50px;
  background-color: #F5F5F5;
  text-align: center; }
  .Contact h1 {
    font-size: 3.0em; }
  .Contact .form {
    width: 50%;
    margin: 20px auto 0;
    background-color: #B8B7D5;
    padding: 20px;
    border-radius: 10px;
    box-sizing: border-box; }
    .Contact .form input, .Contact .form textarea {
      width: 100%;
      margin-bottom: 10px;
      font-size: 1.0em;
      padding: 10px;
      border-radius: 5px;
      border: none;
      box-sizing: border-box;
      outline: none; }
    .Contact .form textarea {
      resize: none; }
    .Contact .form button {
      border: 3px solid #070649;
      background-color: transparent;
      color: #070649;
      font-size: 1.0em;
      cursor: pointer;
      border-radius: 2px;
      padding: 10px; }
      .Contact .form button:hover {
        background-color: #070649;
        color: #FFFFFF; }

.CTAButton button {
  background-color: #9A6197;
  color: #FFFFFF;
  text-transform: uppercase;
  padding: 12px 16px;
  font-size: 18px;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  cursor: pointer; }
  .CTAButton button:hover {
    background-color: #894586; }

.Features {
  padding: 50px 0;
  color: #070649;
  text-align: center; }
  .Features h1 {
    font-size: 3.0em; }
  .Features .feature-list {
    display: flex;
    justify-content: center;
    padding: 50px 0 0;
    width: 80%;
    margin: 0 auto; }
    .Features .feature-list .feature {
      flex-basis: 33%;
      padding: 0 60px;
      box-sizing: border-box; }
      .Features .feature-list .feature i {
        font-size: 6.0em; }
      .Features .feature-list .feature p {
        text-align: left;
        line-height: 1.5em;
        font-size: 1.1em; }

.Footer {
  font-size: 1.2em;
  text-align: center;
  background-color: #070649;
  color: #FFFFFF;
  padding: 10px;
  flex-basis: 100%;
  z-index: 10; }

.GigBox {
  margin-bottom: 30px; }

.Home {
  position: absolute;
  top: 0; }
  .Home .landing-page-background {
    text-align: center;
    background-image: url("./assets/images/landing-page-background.jpg");
    background-size: cover;
    min-height: 100vh;
    color: #FFFFFF;
    position: relative;
    width: 100%; }
    .Home .landing-page-background .feature-text {
      text-align: center;
      padding-top: 20vh; }
      .Home .landing-page-background .feature-text h1 {
        font-size: 4.5em;
        margin-bottom: 0; }
      .Home .landing-page-background .feature-text h2 {
        margin-top: 10px;
        margin-bottom: 40px;
        font-size: 2.0em;
        font-weight: lighter; }
    .Home .landing-page-background .arrow-wrapper {
      position: absolute;
      width: 100%;
      bottom: 10px;
      font-size: 50px;
      text-align: center; }

.LeftMainPageSideBar {
  color: #030303;
  height: calc(100vh - 80px);
  position: fixed;
  box-sizing: border-box;
  width: 25%;
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  overflow: scroll; }
  .LeftMainPageSideBar h2 {
    color: #070649; }
  .LeftMainPageSideBar .see-all-link {
    font-size: 12px;
    margin-bottom: 10px;
    display: inline-block;
    color: #9A6197; }
  .LeftMainPageSideBar h3 {
    color: #894586;
    font-size: 16px; }
  .LeftMainPageSideBar h4 {
    font-size: 14px; }
  .LeftMainPageSideBar p {
    font-size: 12px;
    margin-top: 5px; }
  .LeftMainPageSideBar hr {
    border-color: #9A6197;
    border-top: 0; }

.Main {
  background-color: white;
  display: flex; }

.logged-in {
  background-color: #070649;
  position: fixed;
  height: 80px; }

.logged-out {
  background-color: transparent; }

.Navbar {
  width: 100%;
  align-items: center;
  z-index: 10;
  padding: 20px 150px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between; }
  .Navbar a {
    color: #FFFFFF;
    margin: 10px;
    text-decoration: none;
    cursor: pointer; }
    .Navbar a:hover {
      color: #E0E0E0; }
  .Navbar .brand-name {
    font-size: 1.4em;
    font-family: "Amiko", sans-serif; }
    .Navbar .brand-name img {
      width: 10vw;
      min-width: 120px;
      max-width: 160px; }
    .Navbar .brand-name span {
      font-family: "Archivo Black", sans-serif;
      font-weight: 100; }
  .Navbar .relative-navlink {
    position: relative; }
    .Navbar .relative-navlink .fa-plus {
      font-size: 12px;
      position: absolute;
      right: -8px;
      top: -4px; }
  .Navbar .button-link {
    border: 2px solid #FFFFFF;
    margin: 10px;
    padding: 3px 6px;
    color: #FFFFFF;
    cursor: pointer; }
    .Navbar .button-link:hover {
      background-color: #FFFFFF;
      color: #070649; }

.Profile {
  background-color: white;
  display: flex; }
  .Profile h2 {
    color: #070649; }

.ProfileContent {
  background-color: #FFFFFF;
  padding: 20px;
  border: 1px solid #070649;
  border-top: none; }

.ProfileInfo {
  width: 90%;
  margin: 20px auto; }

.ProfileInfoNavBar {
  display: flex; }
  .ProfileInfoNavBar > div {
    flex-grow: 1;
    border: 1px solid #070649;
    border-right: none;
    text-align: center;
    background-color: #FFFFFF;
    padding: 5px;
    cursor: pointer;
    transition: 300ms; }
    .ProfileInfoNavBar > div:hover {
      background-color: #9A6197;
      color: #FFFFFF; }
  .ProfileInfoNavBar > div:last-of-type {
    border-right: 1px solid #070649; }
  .ProfileInfoNavBar .active {
    background-color: #9A6197;
    color: #FFFFFF; }

.RehearsalBox {
  margin-bottom: 30px; }

.RightMainPageSideBar {
  color: #030303;
  min-height: 100vh;
  width: 25%;
  position: fixed;
  box-sizing: border-box;
  left: 75%;
  padding: 20px 40px; }

.ScrollBox {
  color: #030303;
  margin: 10px;
  flex-basis: 25%;
  flex-grow: 1; }
  .ScrollBox h2 {
    font-size: 18px; }
  .ScrollBox h3 {
    font-size: 14px; }
  .ScrollBox p {
    font-size: 12px; }
  .ScrollBox ul {
    padding: 0; }
    .ScrollBox ul li {
      list-style: none; }

.hide {
  display: none; }

.UserAuthForm {
  position: fixed;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  height: 100%;
  z-index: 100; }
  .UserAuthForm #exit-button {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 36px;
    cursor: pointer; }
    .UserAuthForm #exit-button:hover {
      color: lightgray; }
  .UserAuthForm .form {
    width: 50%;
    max-width: 600px;
    margin: 150px auto 0;
    background-color: #B8B7D5;
    padding: 20px;
    border-radius: 10px;
    box-sizing: border-box; }
    .UserAuthForm .form input, .UserAuthForm .form select {
      width: 100%;
      margin-bottom: 10px;
      font-size: 1.0em;
      padding: 10px;
      border-radius: 5px;
      border: none;
      box-sizing: border-box;
      outline: none; }
    .UserAuthForm .form select {
      height: 38px;
      overflow: hidden;
      background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
      background-size: contain;
      background-color: #FFFFFF;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      /* remove default arrow */ }
    .UserAuthForm .form button {
      border: 3px solid #070649;
      background-color: transparent;
      color: #070649;
      font-size: 1.3em;
      cursor: pointer;
      border-radius: 2px;
      padding: 10px; }
      .UserAuthForm .form button:hover {
        background-color: #070649;
        color: #FFFFFF; }
    .UserAuthForm .form .no-errors {
      color: red; }
    .UserAuthForm .form .error-message {
      color: red;
      border: 2px solid red;
      border-radius: 5px;
      background-color: #F6B1C3;
      padding: 10px;
      font-weight: 600;
      transition: 400ms; }
    .UserAuthForm .form .form-footer {
      display: flex;
      flex-direction: column-reverse; }
      .UserAuthForm .form .form-footer button {
        align-self: center; }
      .UserAuthForm .form .form-footer p {
        text-align: center; }
        .UserAuthForm .form .form-footer p span {
          display: block; }
        .UserAuthForm .form .form-footer p .span-link {
          color: #070649;
          text-decoration: underline;
          cursor: pointer; }

.UserProfile .profile-info {
  margin-top: 20px; }
  .UserProfile .profile-info > span {
    font-size: 12px;
    display: inline-block;
    margin-bottom: 10px; }
    .UserProfile .profile-info > span .username {
      font-weight: bold;
      color: #894586; }
